@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --gray-footer: 0 0% 38%;
    --gray-disable: 0 0% 94%;
    --gray-input: 0 0% 61%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 0 0% 0%;
    --primary-foreground: 210 40% 98%;
 
    /*--primary: 222.2 47.4% 11.2%;*/
    /*--primary-foreground: 210 40% 98%;*/
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary;
  }
}

@keyframes rotateLeft360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateRight360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotation-left {
  animation: rotateLeft360 .2s linear;
}

.animate-rotation-right {
  animation: rotateRight360 .2s linear;
}

.padlock-arc {
  @apply relative w-[70%] h-[7rem] border-b-[0px] mx-auto translate-y-[32px] rounded-t-full border-[1.9rem] border-[#f0f0f0] bg-transparent z-[6];
  transition: all 300ms linear;
}

.padlock-arc-open {
  @apply border-black;
  transform: rotate(-5deg);
  /*transform: translateY(10px);*/
}

.react-international-phone-input-container .react-international-phone-input {
  @apply w-full;
}

.react-international-phone-input-container .react-international-phone-country-selector-button {
  @apply w-[3.5rem];
}
/*Form*/
.primary-form-input {
  @apply block px-2.5 pb-2.5 pt-4 w-full text-sm text-black bg-transparent rounded-lg appearance-none focus:outline-none focus:ring-0;
}

.primary-form-label {
  @apply absolute font-light text-xs text-[#84818A] duration-300 transform -translate-y-3.5 scale-90 top-2 z-10 origin-[0] bg-white px-2 left-3 focus:outline-none;
}

.primary-form-label-primary {
  @apply absolute text-sm text-[#84818A] duration-300 transform -translate-y-4 scale-90 top-2 z-10 origin-[0] bg-[#f4f4f7] px-2 left-1 focus:outline-none;
}

.react-international-phone-country-selector-dropdown {
  z-index: 90 !important;
}

.op-tel .react-international-phone-country-selector-button__button-content {
  @apply pt-[.45rem];
}

.op-tel.react-international-phone-input-container .react-international-phone-input {
  @apply pt-[.45rem] pr-[4rem];
}

.status-success {
  @apply bg-[#19b2a6] text-white rounded-lg py-0.5 px-1.5 w-[3.5rem] text-center block;
}

.status-expired {
  @apply bg-[#dbdbdb] text-black rounded-lg py-0.5 px-1.5 w-[3.5rem] text-center block;
}

.status-rejected {
  @apply bg-[#f00] text-white rounded-lg py-0.5 px-1.5 w-[3.5rem] text-center block;
}

.status-pending {
  @apply bg-[#ff723b] text-white rounded-lg py-0.5 px-1.5 w-[3.5rem] text-center block;
}